<link rel="stylesheet" href="/css/404.css">
<%- include("templates/header") %>
    <div id="notfound">
        <div class="notfound">
            <div>
                <!-- <div class="notfound-404">
                    <h1>!</h1>
                </div> -->
                <h2>Error<br>404</h2>
            </div>
            <p>You veered off course!<br>
                <a href="/">Back to homepage</a></p>
        </div>
    </div>
<%- include("templates/footer") %>