<%- include("templates/header") %>
<link href="/css/courseDetail.css" rel="stylesheet" type="text/css">
<section>
    <div class="ed_detail_head lg bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    
                    <div class="property_video lg">
                        <div class="thumb">
                            <img class="pro_img img-fluid w100" src="cat1.jpg" alt="cat.jpg">
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="ed_detail_wrap">
                        <ul class="list_ed_detail2">
                            <li class="tag-2"><i class="ti-calendar"></i><strong>Duration:</strong>10 - 25 Weeks</li>
                            <li class="tag-1"><i class="ti-user"></i><strong>Enrolled:</strong>712 Students</li>
                            <li class="tag-3"><i class="ti-book"></i><strong>Lectures:</strong>602 Lectures</li>
                            <li class="tag-4"><i class="ti-video-camera"></i><strong>Videos:</strong>402 Videos</li>
                            <li class="tag-5"><i class="ti-tag"></i><strong>Level:</strong>Advance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <!-- Overview -->
                <div class="edu_wraper border">
                    <h4 class="edu_title">Course Overview</h4>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>		
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <h6>Requirements</h6>
                    <ul class="lists-3">
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

    <%- include("templates/footer") %>