<%- include("templates/header") %>
    <div class="text-center p-4 shadow rounded w-75 my-5 mx-auto">
        <h1 class="display-4 text-danger">Error</h1>
        <p class="lead">
            <%= errorMessage %>
        </p>
    </div>
    <%- include("templates/footer") %>