<%- include("templates/header") %>
  <main class="form w-100 m-auto">
    <div class="d-flex justify-content-center align-items-center">
      <form class="text-center p-4 shadow rounded" action="/forgotPassword" method="post">

        <img class="img-fluid rounded mb-3 w-75" src="/images/forgotPassword.jpg" alt="">

        <h1 class="h3 mb-3 fw-normal">Forgot Password?</h1>
        <p class="mb-4">Enter your email and we'll send you a link to get back into your account.</p>

        <!-- Email Input -->
        <div class="form-floating mb-3">
          <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>

        <!-- Error Message Display -->
        <% if (msg && msg.type==='error' ) { %>
          <p class="fw-bold text-danger mb-4">
            <%= msg.text %>
          </p>
          <% } %>

            <!-- Success Message Display -->
            <% if (msg && msg.type==='success' ) { %>
              <p class="fw-bold text-success mb-4">
                <%= msg.text %>
              </p>
              <% } %>

                <!-- Submit Button -->
                <button class="w-100 btn btn-primary btn-lg" type="submit">Change Password</button>
      </form>
    </div>
  </main>
  <%- include("templates/footer") %>