<%- include("templates/header") %>
  <main class="form w-100 m-auto">
    <div class="d-flex justify-content-center align-items-center">
      <form class="text-center p-4 rounded" action="/forgotPassword" method="post">

        <img class="img-fluid rounded mb-3 w-75" src="/images/forgotPassword.jpg" alt="">

        <h1 class="h3 mb-3 fw-normal">Forgot Password?</h1>
        <p class="mb-4">Enter your email and we'll send you a link to get back into your account.</p>

        <!-- Email Input -->
        <div class="form-floating mb-3">
          <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>

        <!-- Error Message Display -->
        <% if (msg && msg.type==='error' ) { %>
          <p class="fw-bold text-danger">
            <%= msg.text %>
          </p>
          <% } %>

            <!-- Success Message Display -->
            <% if (msg && msg.type==='success' ) { %>
              <p class="fw-bold text-success">
                <%= msg.text %>
              </p>
              <% } %>

                <!-- Submit Button -->
                <button class="w-100 btn btn-default" type="submit">Change Password</button>
      </form>
    </div>
  </main></div>

  <!-- Bootstrap JS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
          integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
          crossorigin="anonymous"></script>
  </body>
  
  </body>
  <!-- Scripts for Jquery -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  
  <!-- Scripts for slick carousel -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  
  </html>