<%- include("templates/header") %>
    <div class="row shadow-lg p-5">
        <div class="col-md-6 order-md-1 order-1">
            <img src="/images/fullLogo.png" alt="Logo" class="img-fluid mx-auto d-block w-sm-50">
            <div class="d-grid gap-2">
                <a class="btn btn-outline-dark btn-lg" href="/login">Log In</a>
                <a class="btn btn-outline-dark btn-lg" href="/signUp">Sign Up</a>
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-2 my-5">
            <h2 class="mb-4">Unlock limitless learning with AI</h2>
            <p class="mb-4">"Discover your next online course with CoursePilot - the ultimate
                destination for
                AI-powered learning. Browse thousands of courses and start learning today!"</p>
        </div>
    </div>
    <%- include("templates/footer") %>