<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CoursePilot</title>

  <!-- bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <!-- Google Icons (Material Design)-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">

  <!-- Links for favicon -->
  <link rel="icon" href="/images/logo.png" type="image/x-icon" />

  <!--Style -->
  <link rel="stylesheet" href="/css/common.css">
</head>

<body>
  <div class="container">
    <div class="row p-5">
      <div class="col-md-6 order-md-1 order-1">
        <img src="/images/fullLogo.png" alt="Logo" class="img-fluid mx-auto d-block w-sm-50" style="width:90%;">
        <div class="d-grid gap-2">
          <a class="btn btn-default" href="/login">Log In</a>
          <a class="btn btn-default" href="/signUp">Sign Up</a>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-2 my-3">
        <h3 class="mb-4">Unlock limitless learning with AI</h3>
        <p class="mb-4">"Discover your next online course with CoursePilot - the ultimate
          destination for
          AI-powered learning. Browse thousands of courses and start learning today!"</p>
      </div>
    </div>
  </div>
</body>

</html>