<%- include("templates/header") %>
    <div class="container text-center col-lg6 col-xxl-4 my-5 mx-auto">
        <h1>Welcome to CoursePilot!</h1>
        <div class="d-grid gap-2">
            <a class="btn btn-outline-secondary" href="/login">Login</a>
            <a class="btn btn-primary" href="/signUp">Sign Up</a>
        </div>
    </div>
    <%- include("templates/footer") %>