<%- include("templates/header") %>

    <h1>Reset password for <%= email %>
    </h1>
    <form class="text-center" action='/resetPassword' method='post'>
        <input type="password" name="newPassword" id="newPassword">
        <label for="newPassword">New Password</label>
        <br>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <label for="confirmPassword">Confirm Password</label>
        <br>
        <input type="submit" value="Reset Password">
    </form>

    <p class="fw-bold text-danger" id='msg'>
        <%= msg %>
    </p>
    <%- include("templates/footer") %>