<%- include("templates/header") %>
  <main class="container">
    <div class="text-center p-4 shadow rounded">
      <h1 class="display-4" style="overflow-wrap: break-word;">Reset password for <%= email %>
      </h1>
      <form class="my-4" action='' method='post'>
        <div class="form-group mb-4">
          <label for="newPassword">New Password:</label>
          <input type="password" class="form-control" name="newPassword" id="newPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </main>
  <%- include("templates/footer") %>