/*===================================================
            Fonts
        ==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

/*===================================================
                    GLobal Settings
                ==================================================*/
* {
  outline: none;
}

body {
  background: #ffffff;
  color: #4d5868;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  overflow-x: hidden !important;
  font-weight: 400;
}

html {
  position: relative;
  min-height: 100%;
}

section {
  padding: 30px 0 15px;
  position: relative;
}

/*------------ GLobal Settings: Heading-------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202124;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
}

.popular h3 {
  font-size: 20px;
  margin-bottom: 0px;
}


.light-2 {
  background: #fbf5f4;
}

/*-------------- My Courses Elements: Courses Tag Lists ----------------*/
.courses_tags {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin-top: 1rem;
}

ul.courses_tags_list {
  margin: 0;
  padding: 0;
}

ul.courses_tags_list li {
  display: inline-block;
  margin-right: 0.8rem;
}

ul.courses_tags_list li:last-child {
  margin-right: 0rem;
}

ul.courses_tags_list li {
  padding: 3px 8px;
  font-size: 13px;
  position: relative;
  background: #f4f5f7;
  border-radius: 0 2px 2px 0;
}

ul.courses_tags_list li.facts-1 {
  background: rgba(33, 177, 124, 0.13);
  color: #21b17c;
}

ul.courses_tags_list li.facts-2 {
  background: rgba(255, 118, 0, 0.13);
  color: #ff7600;
}

ul.courses_tags_list li.facts-3 {
  background: rgba(197, 20, 59, 0.13);
  color: #da0b4e;
}

ul.courses_tags_list li.facts-4 {
  background: rgba(18, 163, 218, 0.13);
  color: #12a3da;
}

ul.courses_tags_list li.facts-5 {
  background: rgba(138, 101, 251, 0.13);
  color: #8a65fb;
}

ul.courses_tags_list li.facts-default {
  background: #6c757d;
  color: #ffffff;
}

ul.courses_tags_list li:before {
  border-top: 12px solid transparent;
  border-left: 10px solid #eaedf3;
  border-bottom: 13px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
}

ul.courses_tags_list li.facts-1:before {
  border-left-color: rgba(33, 177, 124, 0.13);
}

ul.courses_tags_list li.facts-2:before {
  border-left-color: rgba(255, 118, 0, 0.13);
}

ul.courses_tags_list li.facts-3:before {
  border-left-color: rgba(197, 20, 59, 0.13);
}

ul.courses_tags_list li.facts-4:before {
  border-left-color: rgba(18, 163, 218, 0.13);
}

ul.courses_tags_list li.facts-5:before {
  border-left-color: rgba(138, 101, 251, 0.13);
}

ul.courses_tags_list li.facts-default:before {
  border-left-color: #6c757d;
}

ul.courses_tags_list li:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  position: absolute;
  top: 10px;
  right: -5px;
  width: 4px;
}

.btn_log_out {
  text-align: center;
  background: #ffffff;
  color: #4a5874;
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}

.btn_log_out:hover {
  background: #ffffff;
  color: #da0b4e;
  padding: 6px 15px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}