.btn_save {
    text-decoration: none;
    background: #f4f8fa;
    color: #4a5874;
    padding: 6px 15px;
    font-size: 13px;
}

.btn_save:hover {
    cursor: pointer;
    background: rgba(154, 161, 171, 0.15);
    color: #4a5874;
    padding: 6px 15px;
    font-size: 13px;
}

.btn_start_learning {
    text-decoration: none;
    background: #f4f8fa;
    color: #4a5874;
    padding: 6px 15px;
    font-size: 13px;
}

.btn_start_learning:hover {
    cursor: pointer;
    background: rgba(154, 161, 171, 0.15);
    color: #4a5874;
    padding: 6px 15px;
    font-size: 13px;
}