/*===================================================
            Fonts
        ==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

/*===================================================
                    GLobal Settings
                ==================================================*/
* {
  outline: none;
}

.modal-open {
  overflow: hidden !important;
}

body {
  background: #ffffff;
  color: #4d5868;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  margin: 0;
  overflow-x: hidden !important;
  font-weight: 400;
}

html {
  position: relative;
  min-height: 100%;
}

h4 a {
  color: #303740;
  font-weight: 500;
  font-size: 20;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover,
a:focus {
  text-decoration: none;
}

a.link {
  color: #da0b4e;
}

a.link:hover,
a.link:focus,
a:hover,
a:focus {
  color: #da0b4e;
}

section {
  padding: 30px 0 15px;
  position: relative;
}

.text-muted {
  color: #8d97ad !important;
}

.lead {
  font-size: 20px !important;
}

p {
  line-height: 1.8;
}

p,
ul,
ol,
dl,
dt,
dd,
blockquote,
address {
  margin: 0 0 10px;
}

/*------------ GLobal Settings: Heading-------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202124;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
}

h1 {
  line-height: 40px;
  font-size: 36px;
}

/*-------------- GLobal Settings: Background Colors ----------------*/
html body .bg-light {
  background-color: #f4f8fa !important;
}

html body .bg-light-2 {
  background: #fdedf2;
}

.sec-heading {
  margin-bottom: 1rem;
}

.light-2 {
  background: #fbf5f4;
}

/*-------------- GLobal Settings: Section Headings ----------------*/
.sec-left {
  flex: 1;
}

.sec-left h3 {
  font-size: 20px;
  margin-bottom: 0px;
}

/*===================================================
                    Recommendations
                ==================================================*/
.my_courses_grid {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.my_courses_grid:hover {
  -webkit-transform: translateY(-4px) scale(1.02);
  -moz-transform: translateY(-4px) scale(1.02);
  -ms-transform: translateY(-4px) scale(1.02);
  -o-transform: translateY(-4px) scale(1.02);
  transform: translateY(-4px) scale(1.02);
  -webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.my_courses_grid .bl-title {
  font-size: 17px;
  margin-bottom: 10px;
}

.my_courses_body {
  padding: 1.5rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-radius: 5px;
}