</div>
<footer class="footer mt-auto py-3" style="background-color: #ffffff;">
  <div class="container">
    <div
      class="icons-container d-flex justify-content-between justify-content-lg-center align-items-center flex-wrap gap-3">
      <!-- Go to home -->
      <a href="/"><span class="material-icons-outlined" style="font-size: 2rem; color:#B4CDED;">home</span></a>

      <!-- Go to MyCourses -->
      <a href="/myCourses"><span class="material-icons-outlined" style="font-size: 2rem; color:#B4CDED;">menu_book</span></a>

      <!-- Go to Search -->
      <a href="/search"><span class="material-icons-outlined" style="font-size: 2rem; color:#B4CDED;">search</span></a>

      <!-- Go to Chatbot -->
      <a href="/chatbot"><span class="material-icons-outlined" style="font-size: 2rem; color:#B4CDED;">smart_toy</span></a>

      <!-- Go to Profile -->
      <a href="/profile"><span class="material-icons-outlined" style="font-size: 2rem; color:#B4CDED;">person</span></a>
    </div>
  </div>
</footer>

<style>
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .icons-container a {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }

  @media (max-width: 991px) {
    .icons-container {
      justify-content: center;
    }
  }
</style>
<!-- Bootstrap JS -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

<!-- Scripts for Jquery -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Scripts for slick carousel -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<!-- Import Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  // $(document).ready(function () {

  //   var currentUrl = window.location.href;
  //   var valueAfterSlash = currentUrl.split("/").pop();
    
  //   textValue = valueAfterSlash.replace(/([A-Z])/g, ' $1').toUpperCase();


  //   if (valueAfterSlash != 'main') {
  //     $('#header_main').attr('style', 'display:none;');
  //     $('#header_sub').attr('style', 'display:show;');
  //     $('header #url_name').text(textValue);
  //     $('header #url_name').attr('href', '/' + valueAfterSlash);
  //     console.log($('header a').text);
  //   } else {
  //     $('#header_main').attr('style', 'display:show;');
  //     $('#header_sub').attr('style', 'display:none;');
  //   }
  // });

  
</script>
</body>

</html>