</div>
<footer class="footer mt-auto py-3 bg-body-tertiary bg-primary" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="icons-container d-flex justify-content-between justify-content-lg-center align-items-center flex-wrap" style="gap: 40px;">

            <!-- Go to home -->
            <a href="https://www.example.com"><span class="material-symbols-outlined text-white" style="font-size: 2rem;">home</span></a>
            
            <!-- Go to MyCourses -->
            <a href="https://www.example.com"><span class="material-symbols-outlined text-white" style="font-size: 2rem;">menu_book</span></a>
            
            <!-- Go to Search -->
            <a href="/search"><span class="material-symbols-outlined text-white" style="font-size: 2rem;">search</span></a>
            
            <!-- Go to Chatbot -->
            <a href="https://www.example.com"><span class="material-symbols-outlined text-white" style="font-size: 2rem;">smart_toy</span></a>
            
            <!-- Go to Profile -->
            <a href="https://www.example.com"><span class="material-symbols-outlined text-white" style="font-size: 2rem;">person</span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>